@charset "UTF-8";
body {
	background-color: #eee;
}
.container {
	width: 700px;
	margin: 20px auto;
}
table {
	width: 100%;
	text-align: center;
}
tr:not(tr:first-of-type):not(tr:last-of-type)
td:first-of-type:not(.notCenter) {
	text-align: left;
}
tr td {
	height: 40px;
}
.num {
	width: 40%;
}
label {
	padding-right: 8px;
}
.tp {
	width: 450px;
}
input {
	border: 2px solid #ccc;
	border-radius: 8px;
	padding: 5px 5px;
}
input:not(input[type=submit]):not(input[type=time]):not(.tp) {
	width: 95%;
}
input[type=time] {
	width: 30%;
}
input[type=submit] {
	color: white;
	padding: 5px 15px;
	background-color: rgb(0, 107, 138);
	cursor: pointer;
}
input[type=submit]:active {
	background-color: rgb(0, 128, 255);
}
select {
	padding: 3px 5px;
	border-radius: 8px;
}
.error {
	color: red;
}