<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Scored Out</title>
<script type="text/javascript">
	function clickNumber(){
		let form = document.scores;
		// alert("누름?");
		form.action = "?";
		form.submit();
	}
</script>
</head>
<body>
	<h1>Scored Out</h1>
	<form action="" name="scores" method="post">
		<table border="">
			<tr>
				<!-- 정렬(반별, 이름별, 반별 등수, 전체 등수) -->
				<td align="right" th:colspan="${ #maps.size(sdD.stdData[0].students.subjects.scores) + 7 }">
					<select name="stdDis" onchange="clickNumber()">
						<option th:each="sd:${stdDisGr}" th:value="${ sd }"
							th:selected="${ sd == stdDis }">[[${sd}]]</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>이름</td>
				<td>학급</td>
				<!-- 과목들 -->
				<td th:each="subj : ${ sdD.stdData[0].students.subjects.scores }">[[${ subj.key }]]</td>
				<td>총점</td>
				<td>평균</td>
				<td>학급 등수</td>
				<td>전체 등수</td>
				<td>등급</td>
			</tr>
			<!-- StudentsData 클래스의 데이터 출력 -->
			<tr th:each="nm:${#numbers.sequence(0,#arrays.length(sdD.stdData)-1)}">
				<td>
					[[${ sdD.stdData[nm].students.stdName }]]
					<!-- 정렬 분류 선택 시 다시 보낼 데이터 -->
					<input type="hidden" 
						th:name="|stdData[${nm}].students.stdName|" 
						th:value="${ sdD.stdData[nm].students.stdName }" />
				</td>
				<td>
					[[${ sdD.stdData[nm].classes }]]
					<input type="hidden" 
						th:name="|stdData[${nm}].classes|" 
						th:value="${ sdD.stdData[nm].classes }" />
				</td>
				<td th:each="sub : ${ sdD.stdData[nm].students.subjects.scores }">
					[[${ sub.value }]]
					<input type="hidden" 
						th:name="|stdData[${nm}].students.subjects.scores[${sub.key}]|" 
						th:value="${ sub.value }" />
				</td>
				<td>[[${ sdD.stdData[nm].students.sum }]]</td>
				<td>[[${ sdD.stdData[nm].students.avg }]]</td>
				<td>[[${ sdD.stdData[nm].students.classRank }]]</td>
				<td>[[${ sdD.stdData[nm].students.totalRank }]]</td>
				<td>[[${ sdD.stdData[nm].students.grade }]]</td>
			</tr>
		</table>
	</form>
</body>
</html>